//fonts
$fontPrincipal: Roboto, sans-serif;

//cores
$corBgBody: #f5f6fa;
$corBgHeader: #182C61;
$corBgButton: #44bd32;
$corHoverBgButton: #4cd137;
$corTextLink: #fff;

//breakpoints
$mobile: 767px;
$tablet: 1023px;